<div class="jumbotron">
	<div class="row">
		<div class="span6" style="text-align:center">
			<h1><%= image_tag('hands.png', :size => "100x100") %> Collaborateur</h1>
			<p>Looking for a project to work on, or people to work with?</p>
			<h2>Finding local contributors was never this easy.</h2> 
			<a href="/signup" class="btn btn-success btn-lg">Try Collaborateur</a>
		</div>
	</div>
</div>