<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    </ul>
  </nav>
  <small>
    Designed by Team Green
  </small>
</footer>